*{
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    padding: 1em;
}

nav{
  top: 0;
height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e99cf3;
    color: blue;
    position: sticky;
}
.nav-list{
    margin-left: auto;
    display: flex;
    list-style: none;
}
.list-link{
padding: 0 10px;
}
.list-link a{
    color: darkblue;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
    display: block;
}
section{
    max-width: 1000px;
    margin: 10px auto;  
    line-height: 1.5;
font-size: 1.3rem;
padding-top: 60px;
}
.about{
   
    background: url('img/About_Me.png') center center no-repeat;
    background-attachment:scroll;
    background-size: cover;
}
.about-text{
font-family: 'Nunito' sans-serif;
color: darkslategray;
text-align: justify;
}

.cur_learn{
   
    background: red;
    color: seashell;
    font-family: 'Nunito' sans-serif;
  

}
.project{
   
}
.pro_title{
    background: blue;
}
.pro_img{
display: block;
max-width: 100%;
}

@media screen and (max-width: 750px) {
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
    }
   .nav-list {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
     align-items: center;

    }
   
}
@media screen and (min-width:750px){
    
    .project{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title img"
                                            "desc img";
    }
    .pro_title{
     grid-column: 1/-1;
     grid-row: 1;
     left: -2em;
    }
    .pro_description{
    grid-area: desc;
    }
 .pro_img{
     grid-area: img;
     position: relative;
     margin: auto;
    
 }
}